canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

#playground { 
	border: 1px solid #333333;
	background-color: #EBEBEB;
	margin: 10% 0 0 10%;
}